    .contact-section {
    padding: 100px 5%;
    background: #000;
    color: #fff;
    text-align: center;
    position: relative;
    background-image: url("../assets/contact-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #000;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.55);
        z-index: 0;
    }

  .contact-content {
    max-width: 800px;
    margin: 0 auto;
    z-index: 1;
    position: relative;

    .contact-title {
      font-size: clamp(2rem, 5vw, 3rem);
      margin-bottom: 1.5rem;
      color: #a259b8;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
    }

    .contact-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;

      .contact-btn {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.8rem 2rem;
        background: #a259b8;
        color: #000;
        font-weight: bold;
        border-radius: 8px;
        text-decoration: none;
        transition: background 0.3s;
        font-size: 1rem;

        .icon {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
        }
        &:hover {
          background: #fff;
        }
      }
    }
  }
}
